#
RewriteEngine on
# RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

#ErrorDocument 404 http://localhost/mylocalhook/

DirectoryIndex default.php

RewriteRule docs/([^/]+)$ document.php?1=$1 [NC,L]

RewriteRule initializer/start auth-part-01.php [NC,L] 
RewriteRule initializer/register auth-part-02.php [NC,L]
RewriteRule initializer/profile-pic auth-part-03.php [NC,L]
RewriteRule subscribe/categories auth-part-04.php [NC,L]

RewriteRule app/search app-search.php [NC,L]

RewriteRule app/myprofile app-user-myprofile.php [NC,L]

RewriteRule app/notifications app-notifications.php [NC,L]
RewriteRule newsfeed/latest-news app-newsfeed.php [NC,L]
RewriteRule newsfeed/news/([^/]+)/([^/]+)$ app-newsfeed-news.php?1=$1&2=$2 [NC,L]
RewriteRule newsfeed/news/([^/]+)/([^/]+)/statistics app-newsfeed-statistics.php?1=$1&2=$2 [NC,L]

RewriteRule app/hooks app-mylocalhook.php  [NC,L]
RewriteRule app/myfriends app-user-friends-my.php  [NC,L]
RewriteRule app/findfriends app-user-friends-find.php  [NC,L]


RewriteRule app/create-movement app-movement-create.php  [NC,L]

RewriteRule app/mycommunity app-community-my.php  [NC,L]
RewriteRule app/create-community app-community-create.php  [NC,L]
RewriteRule app/findcommunity app-community-find.php  [NC,L]

RewriteRule doc/hook-standard-premium doc_info_hook.php  [NC,L]

#RewriteRule app/([^/]+)$ application.php?1=$1 [NC,L]

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt\.map\.ttf)$ [NC]
#RewriteRule app/([^/]+)/([^/]+)$ application.php?1=$1&2=$2 [NC]

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt\.map\.ttf)$ [NC]
#RewriteRule app/([^/]+)/([^/]+)/([^/]+)$ application.php?1=$1&2=$2&3=$3 [NC]

RewriteRule community/([^/]+)$ page_community.php?1=$1 [NC,L]
RewriteRule pagertest test_html.php [NC,L]

RewriteRule ([^/]+)/styles/([^/]+)$ styles/$2 [NC,L]
RewriteRule ([^/]+)/styles/([^/]+)/([^/]+)$ styles/$2/$3 [NC,L]
RewriteRule ([^/]+)/js/([^/]+)$ js/$2 [NC,L]
RewriteRule ([^/]+)/js/([^/]+)/([^/]+)$ js/$2/$3 [NC,L]
RewriteRule ([^/]+)/js/([^/]+)/([^/]+)/([^/]+)$ js/$2/$3/$4 [NC,L]
RewriteRule ([^/]+)/admin/([^/]+)$ admin/$2 [NC,L]
RewriteRule ([^/]+)/admin/([^/]+)/([^/]+)$ admin/$2/$3 [NC,L]
RewriteRule ([^/]+)/admin/([^/]+)/([^/]+)/([^/]+)$ admin/$2/$3/$4 [NC,L]
RewriteRule ([^/]+)/images/([^/]+)$ images/$2 [NC,L]
RewriteRule ([^/]+)/images/([^/]+)/([^/]+)$ images/$2/$3 [NC,L]
RewriteRule ([^/]+)/fonts/([^/]+)$ fonts/$2 [NC,L]

